# Python Pandas Tutorial (Part 3): Indexes - How to Set, Reset, and Use Indexes

https://youtu.be/W9XjRYFkkyw?si=apz7oeCtj54tIAUQ

In [17]:
import pandas as pd


### Snippets

---

In [18]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [19]:
dft = pd.DataFrame(people)

###### Pndas doesnt enforce all index to be unique (?)

most of the changes we make in pandas are not modified in place

In [20]:
dft.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [21]:
dft

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [22]:
dft.index

RangeIndex(start=0, stop=3, step=1)

In [23]:
dft.set_index('email', inplace=True)

email is a good udid kinda data

In [24]:
dft.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [25]:
dft

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [26]:
dft.loc['JohnDoe@email.com'] # dft.loc[0] will give type error now

first    John
last      Doe
Name: JohnDoe@email.com, dtype: object

Can still access the integer index with *iloc*

In [27]:
dft.iloc[2]

first    John
last      Doe
Name: JohnDoe@email.com, dtype: object