# 08 - Grouping and Aggregating - Analyzing and Exploring Your Data

https://youtu.be/txMdrV1Ut64?si=SqRDKz2NN3VBccXA

Notes by [Innovinitylabs](https://github.com/innovinitylabs)

In [123]:
import pandas as pd

#Setup for learning data

# people = {
#     "first": ["Corey", 'Jane', 'John', 'Ratan', 'Arjun', 'Pushpa', 'Rajinikanth'], 
#     "last": ["Schafer", 'Doe', 'Doe', 'Tata', 'Reddy', 'No Inti Peru', 'Rajinikanth'], 
#     "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com', 'Ratan@tata.com', 'Aready@email.com', 'thaggedhele@puspha.com', 'gmail@rajinikanth.com' ]
# }
# dft = pd.DataFrame(people)

---

### Setup for Real world data.
###### uncomment when in need to avoid conflicting code autocomplete suggestions

In [124]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent' )
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')
pd.set_option('display.max_columns', 85)

In [125]:
# pd.set_option('display.max_rows', 85)

---
---
---

In [126]:
df.head(1)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

to get median salary

In [127]:
df['ConvertedComp'].median()

57287.0

---

<div class="alert alert-block alert-warning">can do median for whole dataframe  


     error when using on 01 Oct 2023 `Pandas 2.1.1`

</div>

In [128]:
# df.median()

---

to get statistical overview of whole dataframe

In [129]:
df.describe()

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

count column is number of non NaN rows

to count the individual values in the column we use `.value_counts()` method

In [130]:
df['Hobbyist'].value_counts()

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [131]:
df['SocialMedia'].head(3)

Respondent
1      Twitter
2    Instagram
3       Reddit
Name: SocialMedia, dtype: object

In [132]:
schema_df.loc['SocialMedia']

QuestionText    What social media site do you use the most?
Name: SocialMedia, dtype: object

In [133]:
df['SocialMedia'].value_counts().head(3)

SocialMedia
Reddit      14374
YouTube     13830
WhatsApp    13347
Name: count, dtype: int64

to show it as <Mark>percentage</mark> we use `normalize=True`

In [134]:
df['SocialMedia'].value_counts(normalize=True).head(3)

SocialMedia
Reddit      0.170233
YouTube     0.163791
WhatsApp    0.158071
Name: proportion, dtype: float64

How do we get pupular social media sites based on country so we have to <mark>group by</mark> function

In [135]:
df['Country'].value_counts().head(2)

Country
United States    20949
India             9061
Name: count, dtype: int64

In [136]:
country_grp = df.groupby(['Country'])
country_grp # <pandas.core.groupby.generic.DataFrameGroupBy object at 0x28d71c210>

In [137]:
country_grp.get_group('India').head(2)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",NaN,"Developer, back-end;Engineer, site reliability",8,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,Bash/Shell/PowerShell;C;C++;Elixir;Erlang;Go;P...,Cassandra;Elasticsearch;MongoDB;MySQL;Oracle;R...,Cassandra;DynamoDB;Elasticsearch;Firebase;Mong...,AWS;Docker;Heroku;Linux;MacOS;Slack,Android;Arduino;AWS;Docker;Google Cloud Platfo...,Express;Flask;React.js;Spring,Django;Express;Flask;React.js;Vue.js,Hadoop;Node.js;Pandas,Ansible;Apache Spark;Chef;Hadoop;Node.js;Panda...,Atom;IntelliJ;IPython / Jupyter;PyCharm;Visual...,Linux-based,Development;Testing;Production;Outside of work...,NaN,Useful across many domains and could change ma...,Yes,SIGH,Yes,YouTube,In real life (in person),Handle,2012,A few times per week,Find answers to specific questions;Learn how t...,Less than once per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","Yes, definitely",A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,"10,000 or more employees",Data or business analyst;Data scientist or mac...,12,20,10,Slightly dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,Yes,"I’m not actively looking, but I am open to new...",3-4 years ago,NaN,No,"Languages, frameworks, and other technologies ...",NaN,INR,Indian rupee,950000.0,Yearly,13293.0,70.0,There's no schedule or spec; I work on what se...,NaN,A few days each month,Home,Far above average,"Yes, because I see value in code review",4.0,"Yes, it's part of our process",NaN,NaN,C#;Go;JavaScript;Python;R;SQL,C#;Go;JavaScript;Kotlin;Python;R;SQL,Elasticsearch;MongoDB;Microsoft SQL Server;MyS...,Elasticsearch;MongoDB;Microsoft SQL Server,Linux;Windows,Android;Linux;Raspberry Pi;Windows,Angular/Angular.js;ASP.NET;Django;Express;Flas...,Angular/Angular.js;ASP.NET;Django;Express;Flas...,.NET;Node.js;Pandas;Torch/PyTorch,.NET;Node.js;TensorFlow;Torch/PyTorch,Android Studio;Eclipse;IPython / Jupyter;Notep...,Windows,NaN,Not at all,Useful for immutable record keeping outside of...,No,Yes,Yes,YouTube,Neither,Screen Name,NaN,Multiple times per day,Find answers to specific questions;Get a sense...,3-5 times per week,They were about the same,NaN,Yes,A few times per month or weekly,Yes,"No, and I don't know what those are","Yes, somewhat",Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult

this is similar to running a filter in dataframe

In [138]:
filt = df['Country'] == 'India'
df[filt].head(2)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",NaN,"Developer, back-end;Engineer, site reliability",8,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,Bash/Shell/PowerShell;C;C++;Elixir;Erlang;Go;P...,Cassandra;Elasticsearch;MongoDB;MySQL;Oracle;R...,Cassandra;DynamoDB;Elasticsearch;Firebase;Mong...,AWS;Docker;Heroku;Linux;MacOS;Slack,Android;Arduino;AWS;Docker;Google Cloud Platfo...,Express;Flask;React.js;Spring,Django;Express;Flask;React.js;Vue.js,Hadoop;Node.js;Pandas,Ansible;Apache Spark;Chef;Hadoop;Node.js;Panda...,Atom;IntelliJ;IPython / Jupyter;PyCharm;Visual...,Linux-based,Development;Testing;Production;Outside of work...,NaN,Useful across many domains and could change ma...,Yes,SIGH,Yes,YouTube,In real life (in person),Handle,2012,A few times per week,Find answers to specific questions;Learn how t...,Less than once per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","Yes, definitely",A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,"10,000 or more employees",Data or business analyst;Data scientist or mac...,12,20,10,Slightly dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,Yes,"I’m not actively looking, but I am open to new...",3-4 years ago,NaN,No,"Languages, frameworks, and other technologies ...",NaN,INR,Indian rupee,950000.0,Yearly,13293.0,70.0,There's no schedule or spec; I work on what se...,NaN,A few days each month,Home,Far above average,"Yes, because I see value in code review",4.0,"Yes, it's part of our process",NaN,NaN,C#;Go;JavaScript;Python;R;SQL,C#;Go;JavaScript;Kotlin;Python;R;SQL,Elasticsearch;MongoDB;Microsoft SQL Server;MyS...,Elasticsearch;MongoDB;Microsoft SQL Server,Linux;Windows,Android;Linux;Raspberry Pi;Windows,Angular/Angular.js;ASP.NET;Django;Express;Flas...,Angular/Angular.js;ASP.NET;Django;Express;Flas...,.NET;Node.js;Pandas;Torch/PyTorch,.NET;Node.js;TensorFlow;Torch/PyTorch,Android Studio;Eclipse;IPython / Jupyter;Notep...,Windows,NaN,Not at all,Useful for immutable record keeping outside of...,No,Yes,Yes,YouTube,Neither,Screen Name,NaN,Multiple times per day,Find answers to specific questions;Get a sense...,3-5 times per week,They were about the same,NaN,Yes,A few times per month or weekly,Yes,"No, and I don't know what those are","Yes, somewhat",Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult

but `group by ` works for multiple countries

In [139]:
df[filt]['SocialMedia'].value_counts().head(3)

SocialMedia
WhatsApp    2990
YouTube     1820
LinkedIn     955
Name: count, dtype: int64

if we run this on dataframe `groupby` object, it will give result for all country groups

> if we apply function on a single country it will return for specific country, but if we apply it on dataframe group by object it applies to the whole country groups***

In [140]:
country_grp['SocialMedia'].value_counts().head(11)

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
             LinkedIn                     1
             Twitter                      1
Albania      WhatsApp                    18
             Facebook                    16
             Instagram                   13
             YouTube                     10
Name: count, dtype: int64

to get result for one country

In [141]:
country_grp['SocialMedia'].value_counts().loc['India'].head(3)

SocialMedia
WhatsApp    2990
YouTube     1820
LinkedIn     955
Name: count, dtype: int64

In [142]:
country_grp['SocialMedia'].value_counts(normalize=True).loc['India'].head(3)

SocialMedia
WhatsApp    0.342379
YouTube     0.208405
LinkedIn    0.109355
Name: proportion, dtype: float64

---

we can use this to get mean median and related aggregate functions

In [143]:
country_grp['ConvertedComp'].median().head(3)

Country
Afghanistan     6222.0
Albania        10818.0
Algeria         7878.0
Name: ConvertedComp, dtype: float64

to get a single country

In [144]:
country_grp['ConvertedComp'].median().loc['Germany']

63016.0

To run multiple aggregate function

In [145]:
country_grp['ConvertedComp'].agg(['mean', 'median']).head(3)

                      mean   median
Country
Afghanistan  101953.333333   6222.0
Albania       21833.700000  10818.0
Algeria       34924.047619   7878.0

to get for single country

In [146]:
country_grp['ConvertedComp'].agg(['mean', 'median']).loc['Canada']

mean      134018.564909
median     68705.000000
Name: Canada, dtype: float64

---

to get how many from a country uses python

In [147]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python')

Respondent
8         True
10        True
15       False
50        True
65       False
         ...
77339    False
79795     True
83862    False
84299     True
86012    False
Name: LanguageWorkedWith, Length: 9061, dtype: object

to count the number of people who knows python we can use `.sum()` function. it counts True as 1 and flase as 0

In [148]:
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

3105

In [149]:
# country_grp['LanguageWorkedWith'].str.contains('Python').sum()
#AttributeError: 'SeriesGroupBy' object has no attribute 'str' 

# so we need to apply it

In [150]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()).head(3)

Country
Afghanistan     8
Albania        23
Algeria        40
Name: LanguageWorkedWith, dtype: int64

This gives result for all country

---

to get the <mark>percentage</mark> of people each country who siad they know python.

In [151]:
country_respondents = df['Country'].value_counts()
country_respondents.head(3)

Country
United States    20949
India             9061
Germany           5866
Name: count, dtype: int64

In [152]:
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python.head(3)

Country
Afghanistan     8
Albania        23
Algeria        40
Name: LanguageWorkedWith, dtype: int64

In [153]:
# # MY TEST
# ts = pd.DataFrame([country_respondents - country_uses_python])
# ts

to combine these two 

we can combine more than one series together with pandas `concat()` function

have to use `axis='columns'` because by default it concat rows

In [154]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns') #sort False by default now
python_df.head(3)

               count  LanguageWorkedWith
Country
United States  20949               10083
India           9061                3105
Germany         5866                2451

In [155]:
python_df.rename(columns={'count' : 'Total Respondents', 'LanguageWorkedWith': 'Knows Python'}, inplace=True)
python_df.head(3)

               Total Respondents  Knows Python
Country
United States              20949         10083
India                       9061          3105
Germany                     5866          2451

now to calculate the % we can create new column and put the result of calulation in it

In [156]:
python_df['Pct_Knows_Python'] = (python_df['Knows Python'] / python_df['Total Respondents']) * 100
python_df.head(3)

               Total Respondents  Knows Python  Pct_Knows_Python
Country
United States              20949         10083         48.131176
India                       9061          3105         34.267741
Germany                     5866          2451         41.783157

In [157]:
python_df.sort_values(by='Pct_Knows_Python', ascending=False, inplace=True)
python_df.head(11)

                       Total Respondents  Knows Python  Pct_Knows_Python
Country
Sao Tome and Principe                  1             1        100.000000
Timor-Leste                            1             1        100.000000
Dominica                               1             1        100.000000
Niger                                  1             1        100.000000
Turkmenistan                           7             6         85.714286
Mauritania                             7             5         71.428571
Guinea                                 3             2         66.666667
Bahamas                                3             2         66.666667
Guyana                                 3             2         66.666667
Uganda                                72            47         65.277778
Iceland                               49            30         61.224490

In [158]:
python_df.loc['Japan']

Total Respondents    391.000000
Knows Python         182.000000
Pct_Knows_Python      46.547315
Name: Japan, dtype: float64

---
---
---